@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}


.font-family{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  :root{
    --primary-text-color: orange;
    --secondary-text-color: skyblue;
  }


  /* shared styles  */

  .display-flex{
    display: flex;
  }

  /* navbar styles  */
header{
    /* border: 1px solid tomato; */

}

.navbar{
    padding: 0vw 10vw;
    height: 62px;
    margin: 20px auto;
    justify-content: space-between;
}
.logo-container{
    align-items: center;
    width: min-content;
    height: 62px;
    gap: 12px;
}

.nav-img{
    height: 62px;
}
.nav-item-container{
    width: min-content;
    height: 30px;
    margin: 20px auto;
}

.nav-title{
    font-weight: bold;
    font-size: 2rem;
    height: 30px;
    color:black;
}
.items{
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    height: 30px;
}
nav  ul  li {
    list-style: none;

}


nav  ul  li a{
    text-decoration: none;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}
.item1, #empowering-id{
    color: var(--primary-text-color);
}
.item2, #towards-vision{
    color: var(--secondary-text-color);
}
.item3{
    color: #05D4DF;
}
.item4{
    color: #5D58EF;
}
.nav-btn{
    height: 50px;
    padding: 10px 50px;
    background-color: var(--primary-text-color);
    border-radius: 12px;
    border: none;
    margin: 6px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF;
}
.burger-menu{
    display: none;
}
/* empowering section*/

.empowering{
    margin: 1.25rem 10vw;
    margin-bottom: 0px;
    gap: 50px;
    justify-content: space-between;
}

.content-container{
    padding: 122px 0px;
    height: 331px;
    /* border: 1px solid black; */

}
.empowering-title{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.empowering-description{
    font-size: 20px;
    font-weight: 400;
    line-height: auto;
    margin: 24px 0px;
}
.empowering-btn{
    height: 50px;
    padding: 10px 50px;
    background-color: black;
    border-radius: 12px;
    border: none;
    margin: 6px 0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #FFFFFF;
}
.empowering-img{
    width: min-content;
    padding: 0px 0px 0px 0px;
}
.mobile-hide{
    display: inline;
}

/* curriculum section  styles*/
.curriculum{
    background-image: url(/assets/bg.png);
    padding: 60px 0px;
}
.curriculum-title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    line-height: 57.5px;
    color: black;
}
.card{
    width: 80vw;
    margin: 80px 10vw;
    gap: 28px;
}
.card-container{
    align-items: center;
    flex-direction: column;
    border-radius: 1.15rem;
}
.card-img{
    height: 136px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
    line-height: 30px;
    margin: 2rem auto;

}
.card-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #808080;
    margin: 0px 2.5rem;


}
.bg-blue{
    bottom: 1px solid rgba(222, 245, 255, 1);
    background: linear-gradient(to bottom,rgba(222, 245, 255, 1),transparent 50%);
}
.bg-orange{
    border: 1px solid rgba(255, 244, 220, 1);
    background: linear-gradient(to bottom,rgba(255, 244, 220, 1),transparent 50%);
}
.bg-purple{
    border: 1px solid rgba(242, 232, 255, 1);
    background: linear-gradient(to bottom,rgba(242, 232, 255, 1),transparent 50%);
}

.arrow-icon-container{
    justify-content: center;
    align-items: center;
}
.card-btn{
    font-size: 1rem;
    padding: 10px 30px 10px 0px;
    font-weight: bold;
    line-height: 1.5rem;
    background-color:white ;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: none;
    
}
#blue-btn{
    color: #64C8FF;
}
#orange-btn{
 color: #F0AA00;

}
#purple-btn{
    color: #8700FF;
}
.arrow-icon-container{
    gap: 10px;
}
.arrow-btn{
    background-color: orange;
    border-radius: 50%;
}
.right-arrow{
    height: 64px;
}
.left-arrow{
    display: flex;
    align-items: center;
    height: 64px;
}

/* our story styles */

.stories{
    width: 100vw;
    background: 
    linear-gradient(to top, rgba(254, 163, 1, 0.3), #FFFFFF,transparent 150%), /* Gradient */
    url(/assets/bg.png); 
    padding: 60px 0px;
}
.story-title-main{
    font-size: 46px;
    font-weight: bold;
    line-height: 57px;
    color: black;
    text-align: center;
}
.story-content-container{
    width: 80vw;
    margin: 80px 10vw;
    gap: 20px;
}
.first-column {
    background-color: #FFFFFF;
    border-radius: 16px ;
    flex-direction: column;
}
.story-img{
    height: 50%;
    width: 100%;
    border-radius: 16px 16px 0px 0px ;
}
.story-card-btn{
    border-radius: 48px;
    padding: 10px 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: -50%;
    margin-bottom: 2rem;
    margin-left: 2vw;
}
.story-card-title{
    margin: 0px 2vw 3rem ;
    font-size: 34px;
    font-weight: bold;
    line-height: 38px;
    color: black;
    text-align: start;

}
.story-description{
    margin: 0px 2vw ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75rem;
    color: #666666;
    text-align: start;

}
.sky-blue-btn{
    background-color: #3CD8E8;
}
.light-green-btn{
    background-color:#95B226 ;

}
.light-purple-btn{
    background-color: #5D58F0;
}
.story-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    

}
.story-grid-card{
   border-radius: 16px;
   background-color: #FFFFFF;


}
.story-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-align: start;
    margin: 15px 2vw;

}
.story-btn{
    display: flex;
    justify-content: center;
    align-items: center;    
}
/* footer styles */
.footer{
    width: 100vw;
    background-color: #01ACFD;
    border: 1px solid #01ACFD;
}
.footer-container {
    justify-content: space-around;
    width: 80vw;
    margin: 150px 10vw;

}
.footer-logo-container {
    gap: 10px;
}
.footer-icon{
    height: 84px;
}
.footer-title{
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
    color: white;
}
.footer-description{
    font-size: 20px;
    font-weight: 300;
    line-height: auto;
    color: white;
    margin-top: 2rem;

}
.footer-column,
.footer-items{
    flex-direction: column;
    gap: 20px;
}
.footer-items{
    margin-top: 2rem;
}
.footer-list-title{
    font-weight: bold;
    font-size: 24px;
    line-height: auto;
    color: white;
}
.footer-item{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    line-height: auto;

}
.footer-list{
    list-style: none;
}
.social-container{
    margin-top: 2rem;
    display: flex;
    gap: 10px;

}
.social-icons{
    height: 36px;
}

/* styles for mobile device */

@media (max-width:576px){
    body{
        width: 100vw;
    }

    /* navbar styles for small device */
    nav h4, 
    nav ul li,
    nav button{
        display: none;
    }
    .nav-item-container{
        display: none;
    }
    .navbar{
        padding: 10px;
        align-items: center;
        margin: 10px auto ;
        display: flex ;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-bottom: 1px solid var(--primary-text-color);
    }

  .burger-menu {
    display: block;

  }
  /* empowering styles for small device  */
  .empowering{
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0px;
    height: auto;
  }
  .empowering-img{
    width: 80vw;
    margin: auto 10vw;
  }
  .content-container{
    width: 80vw;
    margin: auto 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px ;
    height: auto;

  }
  .empowering-title{
    font-size: 2rem;
    line-height: auto;
    text-align: center;
  }
  .empowering-description{
    font-size: 0.87rem;
    line-height: auto;
    text-align: center;

  }
  .mobile-hide{
    display: none;
  }
  /* curriculum section  styles for mobile device*/

  .curriculum{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 2.5rem 0px 0px;

  }
  .card{
    display: flex;
    flex-direction: column;
    gap: auto;
    padding: 1.5rem 1rem;
    margin: 1.5rem auto;
  }
  .curriculum-title{
    font-size: 1.5rem;
    line-height: auto;

  }
  .card-container{
    padding: 2.25rem 1.75rem;

  }
  .card-img{
    height: 75px;
    width: 88px;
  }
  .card-title{
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 1.6rem 0;
  }
  .card-description{
    font-size: 0.62rem;
    line-height: 1.25rem;
    margin-bottom: 1.6rem;
  }
  .card-btn{
    margin: 0 auto;
  }
  .arrow-icon-container{
    display: none;
  }

  /* our stories responsive for mobile device */
  .stories{
    width: 100vw;
    padding: 2.5rem 0px 0px;
  }
  .first-column{
    display: none;
  }
  .story-title-main{
    font-size: 1.75rem;
    line-height: 57px;
  }
  .story-content-container{
    width: 94vw;
    margin: 1.25rem 3vw;
  }
  .story-card-btn{
    border-radius: 38px;
    padding: 10px 25px;
    font-size: 0.7rem;
    line-height: auto;
    margin-top: -50%;
    margin-left: 2vw;
    }
    .story-title{
        font-size: 10px;
        line-height: 17px;
        text-align: start;
        margin-top: 0;
    }

  /* footer for smaller device */

  .footer{
    width: 100vw;
    padding: 0;
  }
  .footer-container{
    width: 90vw;
    margin: 40px 5vw;
    display: flex;
    flex-direction: column;
  }
  .footer-column {
    margin: 2rem 0 0;
  }
  .footer-list-title{
    margin-top: 27px;
  }
  .footer-items{
    margin: 0;
  }

}

